.team {
  background-color: var(--cloud);
}

.team .container {
  flex-direction: column;
  align-items: center;
}


.team__title {
  margin-bottom: 72px;
  text-align: center;
  color: var(--navy-blue);
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  row-gap: 72px;
}

.team-item {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-image {
  display: block;
}

.team-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.team-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

/* h3 */
.team-item-name {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-item-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.team-item-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-social-link:hover,
.team-item-social-link:focus {
  background-color: var(--ocean);
}

.team-item-social-link .social-icon {
  fill: var(--cloud);
}

@media (min-width: 768px) {
  .team .container {
    padding: 0 15px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
  }
}

@media (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}
